<template>
	<div class="c-{{ dashCase name }}">

	</div>
</template>

<script>

	export default {
		name: '{{ camelCase name }}',
		components: {},
		directives: {},
		filters: {},
		mixins: [],
		inheritAttrs: true,
		props: {

		},
		data: () => ({

		}),
		computed: {

		},
		watch: {

		},
		created() {

		},
		mounted() {

		},
		methods: {

		}
	}
</script>

<style lang='less'>
.c-{{ dashCase name }}{

}
</style>