<template>
	<div>{{ camelCase name }}</div>
</template>

<script>
export default {
  name: '{{ camelCase name }}',
  components: {},
  directives: {},
  filters: {},
  mixins: [],
  props: {

  },
  data: () => ({

  }),
  computed: {

  },
  watch: {

  },
  created() {

  },
  mounted() {

  },
  methods: {

  }
}
</script>

<style lang='less' scoped>

</style>