https://nexus-jx.saas-ops.finline.app/repository/maven-group/=
config=https://nexus-jx.saas-ops.finline.app/repository/npm-group/
repositry=https://nexus-jx.saas-ops.finline.app/repository/npm-group/
